<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
       type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					  
            <section name="LineUp.My.MySettings"
      type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <LineUp.My.MySettings>
            <setting name="alignSheet11x17" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Alignment Sheets\11x17 alignment sheet.pdf</value>
            </setting>
            <setting name="alignSheet12x18" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Alignment Sheets\12x18 Alignment Sheet.pdf</value>
            </setting>
            <setting name="dirResources" serializeAs="String">
                <value>\\btp-fs\shared\Computer\BTP Programs\LineUp\Resources\</value>
            </setting>
            <setting name="dirBkBod" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Books\Bodies\4up 2cut\</value>
            </setting>
            <setting name="dirBkBodBleed" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Books\Bodies\4up 3cut Full Bleed\</value>
            </setting>
            <setting name="dirBkCov" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Books\Covers\2up 12x18\</value>
            </setting>
            <setting name="dirBrochure" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Brochures\</value>
            </setting>
            <setting name="dirChart" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Charts\</value>
            </setting>
            <setting name="dirLeaflet" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Leaflets\</value>
            </setting>
            <setting name="dirMiniPamBod" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Pamphlets\Bodies\Mini-Pamphlet\</value>
            </setting>
            <setting name="dirMiniPamCov" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Pamphlets\Covers\Mini-Pamphlet\</value>
            </setting>
            <setting name="dirPamBod" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Pamphlets\Bodies\Pamphlet\</value>
            </setting>
            <setting name="dirPamCov" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Pamphlets\Covers\Pamphlet\</value>
            </setting>
            <setting name="dirWebProd" serializeAs="String">
                <value>\\btp-fs\Shared\Web\Products\3 Product Pics Master\</value>
            </setting>
            <setting name="dirHymnbookBod" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Hymnbooks\Bodies\</value>
            </setting>
            <setting name="dirHymnbookCov" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Hymnbooks\Covers\</value>
            </setting>
            <setting name="dirTractCard" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Tracts\Tract Cards\</value>
            </setting>
            <setting name="dirCdAlbumCov" serializeAs="String">
                <value>\\btp-fs\Shared\Production\CDs\Album Covers\2up on 11x17\</value>
            </setting>
            <setting name="dirBkBod12x9" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Books\Bodies\4up 2cut - 12x18</value>
            </setting>
            <setting name="dirBkCov12x9" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Books\Covers\1up 12x18</value>
            </setting>
            <setting name="dirMiniEconBkCov" serializeAs="String">
                <value>\\btp-fs\shared\Production\Books\Covers\4up 12x18 - Economy</value>
            </setting>
            <setting name="dirMiniEconBkBod" serializeAs="String">
                <value>\\btp-fs\shared\Production\Books\Bodies\8up - MiniBook Economy</value>
            </setting>
            <setting name="eServer" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ePort" serializeAs="String">
                <value></value>
            </setting>
            <setting name="ePassword" serializeAs="String">
                <value></value>
            </setting>
            <setting name="eSendAsUser" serializeAs="String">
                <value>btporders@bibletruthpublishers.com</value>
            </setting>
            <setting name="eMailTo" serializeAs="String">
                <value>btporders@bibletruthpublishers.com</value>
            </setting>
            <setting name="PrEBookDir" serializeAs="String">
                <value>\\btp-fs\Shared\Print &amp; Ebook Projects\Books\</value>
            </setting>
            <setting name="PrEChartDir" serializeAs="String">
                <value>\\btp-fs\Shared\Print &amp; Ebook Projects\Charts\</value>
            </setting>
            <setting name="PrEHymnBookDir" serializeAs="String">
                <value>\\btp-fs\Shared\Print &amp; Ebook Projects\Hymnbooks\</value>
            </setting>
            <setting name="PrELeafletDir" serializeAs="String">
                <value>\\btp-fs\Shared\Print &amp; Ebook Projects\leaflet\</value>
            </setting>
            <setting name="PrEPamphletDir" serializeAs="String">
                <value>\\btp-fs\Shared\Print &amp; Ebook Projects\Pamphlets\</value>
            </setting>
            <setting name="PrEPeriodicals" serializeAs="String">
                <value>\\btp-fs\shared\Print &amp; Ebook Projects\Periodicals\</value>
            </setting>
            <setting name="periodicals" serializeAs="String">
                <value>bis;eg;ml;tc</value>
            </setting>
            <setting name="PrESearchLoc" serializeAs="String">
                <value>\\btp-fs\Shared\Print &amp; Ebook Projects\Books\;\\btp-fs\Shared\Print &amp; Ebook Projects\Charts\;\\btp-fs\Shared\Print &amp; Ebook Projects\Hymnbooks\;\\btp-fs\Shared\Print &amp; Ebook Projects\leaflet\;\\btp-fs\Shared\Print &amp; Ebook Projects\Pamphlets\;\\btp-fs\shared\Print &amp; Ebook Projects\Periodicals\</value>
            </setting>
            <setting name="Cost_20lbPaper" serializeAs="String">
                <value>0.0122 Cost per Sheet. Note: Please leave number at the beginning! 10-13-2014</value>
            </setting>
            <setting name="Cost_24lbPaper" serializeAs="String">
                <value>0.01635 Cost per sheet. Note: Please leave number at the beginning! 10-13-2014</value>
            </setting>
            <setting name="Cost_PamCov" serializeAs="String">
                <value>.06 Cost per Sheet. Note: Please leave number at the beginning! 10-13-2014</value>
            </setting>
            <setting name="Cost_BookCov" serializeAs="String">
                <value>0.076 Cost per sheet. Note: Please leave number at the beginning! 10-13-2014</value>
            </setting>
            <setting name="Cost_TCCov" serializeAs="String">
                <value>0.03122 Cost per sheet. Note: Please leave number at the beginning! 10-13-2014</value>
            </setting>
            <setting name="Cost_Laminate" serializeAs="String">
                <value>0.124255 Cost per 18 inches per roll. Note: Please leave number at the beginning! 10-13-2014</value>
            </setting>
            <setting name="Cost_ColorClick" serializeAs="String">
                <value>.05 Cost per side / click. Note: Please leave number at the beginning! 10-13-2014</value>
            </setting>
            <setting name="Cost_BlackClick" serializeAs="String">
                <value>.0048 Cost per side / click. Note: Please leave number at the beginning! 10-13-2014</value>
            </setting>
            <setting name="Cost_8_5x11_20lbPaper" serializeAs="String">
                <value>.006 Cost per sheet. Note: Please leave number at the beginning! 10-13-2014</value>
            </setting>
            <setting name="Cost_12x18_20lb" serializeAs="String">
                <value />
            </setting>
            <setting name="Cost_12x18_24lb" serializeAs="String">
                <value />
            </setting>
            <setting name="dirMxOrders" serializeAs="String">
                <value>\\btp-uv\UV\BTP\MX.ORDERS\</value>
            </setting>
            <setting name="dirMxXML" serializeAs="String">
                <value>\\btp-uv\UV\BTP\MX.XML\</value>
            </setting>
            <setting name="MxCustomPath" serializeAs="String">
                <value>\\btp-uv\UV\BTP\MX.CUSTOM\CustomOrders.xml</value>
            </setting>
            <setting name="dir8101IDs" serializeAs="String">
                <value>\\btp-fs\shared\Production\Pageup\Personalize\GospelOfPeace\Composed\</value>
            </setting>
            <setting name="dir6120IDs" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Tracts\CTC\Composed Imprints\</value>
            </setting>
            <setting name="dir6880IDs" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Calendars\MJNC\Composed Imprints\</value>
            </setting>
            <setting name="dir7427IDs" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Calendars\CPC\Composed Imprints\</value>
            </setting>
            <setting name="PcConfigPath" serializeAs="String">
                <value>ImpositionConfig.xml</value>
            </setting>
            <setting name="bkCovImposeTemplatePath" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Books\Imposition\12x18 2UP Book Cover Layout.indd</value>
            </setting>
            <setting name="dirMiniGiftBkCov" serializeAs="String">
                <value>\\btp-fs\shared\Production\Books\Covers\4up 12x18 - Gift</value>
            </setting>
            <setting name="dirMiniGiftBkBod" serializeAs="String">
                <value>\\btp-fs\shared\Production\Books\Bodies\8up Full Bleed - MiniBook Gift\</value>
            </setting>
            <setting name="dir7427Users" serializeAs="String">
                <value>\\btp-fs\shared\Production\Calendars\CPC\Users\</value>
            </setting>
            <setting name="dir6880Users" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Calendars\MJNC\Users\</value>
            </setting>
            <setting name="dir6120Users" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Tracts\CTC\Users\</value>
            </setting>
            <setting name="dir8101Users" serializeAs="String">
                <value>\\btp-fs\shared\Production\Pageup\Personalize\GospelOfPeace\Users</value>
            </setting>
            <setting name="dirShareWordProjects" serializeAs="String">
                <value>\\btp-fs\shared\Print &amp; Ebook Projects\ShareWord\</value>
            </setting>
            <setting name="dirShareWordProduction" serializeAs="String">
                <value>\\btp-fs\shared\Production\ShareWord\</value>
            </setting>
            <setting name="dirShareWordJohnK" serializeAs="String">
                <value>\\pc-john\ShareWord\</value>
            </setting>
            <setting name="dir42194IDs" serializeAs="String">
                <value>\\btp-fs\Shared\Production\Custom Books</value>
            </setting>
            <setting name="dirShareWordJohnDocuments" serializeAs="String">
                <value>\\pc-john\Documents</value>
            </setting>
            <setting name="dirInddScripts" serializeAs="String">
                <value>\\btp-fs\shared\Computer\Macros-Actions-Presets-Droplets\Indesign\Scripts\</value>
            </setting>
            <setting name="dirHomePrintExportLoc" serializeAs="String">
                <value>\\btp-fs\shared\Web\Products\2 New and Updated Pics\</value>
            </setting>
            <setting name="eMailProofReportTo" serializeAs="String">
                <value>cbuchanan@bibletruthpublishers.com;dmacy@bibletruthpublishers.com</value>
            </setting>
            <setting name="dirAlignmentSheet" serializeAs="String">
                <value>\\btp-fs\shared\Production\Alignment Sheets\</value>
            </setting>
            <setting name="SqlServer" serializeAs="String">
                <value>btp-sql</value>
            </setting>
            <setting name="SqlProductsDatabase" serializeAs="String">
                <value>BTP_80_Products</value>
            </setting>
            <setting name="SqlUser" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SqlPassword" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SqlLineupDatabase" serializeAs="String">
                <value>CB_Job_Q</value>
            </setting>
            <setting name="dirPeriodicals" serializeAs="String">
                <value>X:\Production\Periodicals\</value>
            </setting>
        </LineUp.My.MySettings>
    </userSettings>
</configuration>
